/*!
Theme Name: KC Urology
Theme URI: https://github.com/kcurology/kcurology/
Author: Morten Rand-Hendriksen et.al.
Author URI: https://github.com/kcurology/kcurology/
Description: A progressive theme development rig for WordPress.
Version: 1.0.4
License: GNU General Public License v3 or later
License URI: LICENSE
Text Domain: kcurology
Tags: translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

CSS normalization based in part on normalize.css by
Nicolas Gallagher and Jonathan Neal http://necolas.github.io/normalize.css/
*/
/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */html{line-height:1.15;-webkit-text-size-adjust:100%}body{margin:0}link{display:none}h1{font-size:2em;margin:.67em 0}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent}abbr[title]{border-bottom:none;text-decoration:underline;-webkit-text-decoration:underline dotted;text-decoration:underline dotted}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}img{border-style:none}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}[type=button],[type=reset],[type=submit],button{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details{display:block}summary{display:list-item}[hidden],template{display:none}.no-js .lazy{display:none!important}.screen-reader-text{clip:rect(1px,1px,1px,1px);position:absolute!important;height:1px;width:1px;overflow:hidden;word-wrap:normal!important}.screen-reader-text:focus{background-color:#f1f1f1;border-radius:3px;box-shadow:0 0 2px 2px rgba(0,0,0,.6);clip:auto!important;color:#21759b;display:block;font-size:.875rem;font-weight:700;height:auto;left:5px;line-height:normal;padding:15px 23px 14px;text-decoration:none;top:5px;width:auto;z-index:3}#primary[tabindex="-1"]:focus{outline:0}html{font-size:62.5%}.site{margin:0 auto;max-width:100%}@media screen and (min-width:992px){.has-sidebar .site{margin:0 1em;display:grid;grid-template-columns:3fr 1fr;grid-gap:2rem;-ms-flex-pack:center;justify-content:center}.site-header{grid-column:span 2}.site-main{grid-column:1;min-width:0}.primary-sidebar{grid-column:2;min-width:0}.site-footer{grid-column:span 2}}body,button,input,optgroup,select,textarea{color:#444;font-family:Montserrat,sans-serif;font-size:1.6rem;line-height:1.4}h1,h2,h3,h4,h5,h6{font-family:EB Garamond,serif;color:#32373c;clear:both}.entry-header h1.entry-title{font-size:6rem;line-height:1.4;margin:1em 0;color:#262261}cite,dfn,em,i{font-style:italic}blockquote{margin:0 1.5em}address{margin:0 0 1.5em}pre{background:#eee;font-family:Courier\ 10 Pitch,Courier,monospace;font-size:.9375rem;line-height:1.6;margin-bottom:1.6em;max-width:100%;overflow:auto;padding:1.6em}code,kbd,tt,var{font-family:Monaco,Consolas,Andale Mono,DejaVu Sans Mono,monospace;font-size:12.8px;font-size:.8em}abbr,acronym{border-bottom:1px dotted #666;cursor:help}ins,mark{background:#fff9c0;text-decoration:none}big{font-size:125%}html{box-sizing:border-box}*,:after,:before{box-sizing:inherit}body{background:#fff}blockquote,q{quotes:"" ""}hr{background-color:#ccc;border:0;height:1px;margin-bottom:1.5em}ol,ul{margin:0 0 1.5em 3em}ul{list-style:disc}ol{list-style:decimal}li>ol,li>ul{margin-bottom:0;margin-left:1.5em}dt{font-weight:700}dd{margin:0 1.5em 1.5em}img{display:block;height:auto;max-width:100%}figure{margin:.5em 0}table{margin:0 0 1.5em;width:100%}a{color:#262261}a:visited{color:#333}a:active,a:focus,a:hover{color:#262261}a:focus{outline:thin dotted}a:active,a:hover{outline:0}button,input[type=button],input[type=reset],input[type=submit]{border:1px solid;border-color:#ccc #ccc #bbb;border-radius:3px;background:#e6e6e6;color:rgba(0,0,0,.8);font-size:.75rem;line-height:1;padding:.6em 1em .4em;cursor:pointer}button:hover,input[type=button]:hover,input[type=reset]:hover,input[type=submit]:hover{border-color:#ccc #bbb #aaa}button:active,button:focus,input[type=button]:active,input[type=button]:focus,input[type=reset]:active,input[type=reset]:focus,input[type=submit]:active,input[type=submit]:focus{border-color:#aaa #bbb #bbb}input[type=color],input[type=date],input[type=datetime-local],input[type=datetime],input[type=email],input[type=month],input[type=number],input[type=password],input[type=range],input[type=search],input[type=tel],input[type=text],input[type=time],input[type=url],input[type=week],textarea{color:#666;border:1px solid #ccc;border-radius:3px;padding:3px;max-width:100%}input[type=color]:focus,input[type=date]:focus,input[type=datetime-local]:focus,input[type=datetime]:focus,input[type=email]:focus,input[type=month]:focus,input[type=number]:focus,input[type=password]:focus,input[type=range]:focus,input[type=search]:focus,input[type=tel]:focus,input[type=text]:focus,input[type=time]:focus,input[type=url]:focus,input[type=week]:focus,textarea:focus{color:#111}select{border:1px solid #ccc}textarea{width:100%}.header-image{margin:0 auto}.header-image img{display:block;margin:0 auto}.custom-logo-link{display:inline-block}.site-title{margin:0 1em;font-family:EB Garamond,serif;font-size:38px;font-weight:700;line-height:1.2;color:#333332}.site-title a{text-decoration:none;color:inherit}.site-description{margin:.4375em 0 0;font-family:EB Garamond,serif;font-size:17px;font-weight:inherit;line-height:1.4;word-wrap:break-word;color:#757575}.main-navigation a{display:block;padding:.5em 1em;text-decoration:none;color:#fff;background:#262261}@media screen and (min-width:992px){.main-navigation a{background:#262261 linear-gradient(#4841b9,#262261)}.main-navigation .menu>li>a:focus,.main-navigation .menu>li>a:hover{background:#262261 linear-gradient(#4841b9,#4841b9)}.main-navigation ul ul li a{text-align:left;color:#262261}.main-navigation ul ul li a:focus,.main-navigation ul ul li a:hover{color:#4841b9}}.main-navigation ul{display:block;list-style:none;margin:0;padding:0}.main-navigation li{position:relative}.main-navigation ul ul li{padding-left:1em}.main-navigation .dropdown,.main-navigation .menu,.main-navigation button.dropdown-toggle{display:none}@media screen and (max-width:991px){.main-navigation.toggled-on .menu{display:block}}@media screen and (min-width:992px){.main-navigation ul li a{padding:2rem 1.5rem}.main-navigation ul li+li{border-left:1px solid #fff}.main-navigation ul li:first-child{margin-left:0}.main-navigation ul ul{display:none;position:absolute;top:100%;-ms-flex-direction:column;flex-direction:column;background:#fff;margin-left:0;box-shadow:0 3px 3px rgba(0,0,0,.2);z-index:1}.main-navigation ul ul a{width:200px}.main-navigation ul ul li{padding-left:0;margin-left:0}.main-navigation ul ul li a{width:218px;background:none}.main-navigation ul ul ul{top:0;left:100%;min-height:100%}.main-navigation .menu{display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;-ms-flex-pack:center;justify-content:center}.main-navigation .menu li{-ms-flex-positive:1;flex-grow:1;text-align:center}.main-navigation:not(.has-dropdown-toggle) li:focus-within>ul,.main-navigation:not(.has-dropdown-toggle) li:focus>ul,.main-navigation li.toggled-on>ul,.main-navigation li:hover>ul{display:block}}.main-navigation .dropdown,.main-navigation button.dropdown-toggle{display:block;position:absolute;top:20px;right:15px;background:transparent;width:.7em;height:.7em;font-size:inherit;line-height:inherit;margin:0;padding:0;border:none;border-radius:0;overflow:visible}.main-navigation .dropdown-symbol{display:block;background:transparent;right:15px;top:25px;width:10px;height:10px;border:solid #fff;border-width:0 2px 2px 0;transform:translateY(-50%) rotate(45deg)}.main-navigation ul ul .dropdown-symbol{border-color:#262261}.main-navigation ul ul .dropdown,.main-navigation ul ul button.dropdown-toggle{top:40%}.main-navigation ul ul .dropdown-symbol{transform:rotate(-45deg)}.site-main .comment-navigation,.site-main .post-navigation,.site-main .posts-navigation{border-bottom:1px solid #111;margin:0 auto 2em;max-width:720px;overflow:hidden;padding-bottom:2em;font-family:EB Garamond,serif}.nav-links{display:-ms-flexbox;display:flex}.comment-navigation .nav-previous,.post-navigation .nav-previous,.posts-navigation .nav-previous{width:50%;-ms-flex:1 0 50%;flex:1 0 50%}.comment-navigation .nav-next,.post-navigation .nav-next,.posts-navigation .nav-next{text-align:end;-ms-flex:1 0 50%;flex:1 0 50%}.post-navigation-sub span{color:#444;text-decoration:none;display:inline-block}.site-footer{margin:0;padding:2em 0;color:#fff;background-color:#444}.site-footer h1,.site-footer h2,.site-footer h3,.site-footer h4,.site-footer h5,.site-footer h6{color:#fff}.site-info{text-align:center;font-size:1.4rem}.site-info .widget+.widget{margin-top:1.5rem}.site-info .widget_media_image img{max-width:100%;margin-left:auto;margin-right:auto}@media screen and (min-width:992px){.site-info .widget_media_image img{margin-left:0}}.footer-top{padding-bottom:3rem;border-bottom:1px solid #fff}.footer-top .menu,.footer-top .menu li ul,.footer-top .menu li ul li ul{list-style:none;margin:0;padding:0}.footer-top .menu a{display:block;padding:.5rem 1.5rem;color:#fff;text-decoration:none}@media screen and (min-width:992px){.footer-top .menu a{padding:0 1.5rem}.footer-top .menu a,.footer-top .menu li,.footer-top .menu li ul{display:inline-block}.footer-top .menu li+li,.footer-top .menu li .sub-menu{border-left:1px solid #fff}}.footer-bottom-primary,.footer-bottom-secondary{margin-top:3rem;padding-left:1.5rem;padding-right:1.5rem}@media screen and (min-width:992px){.site-info{display:grid;grid-template-columns:2fr 1fr}.footer-top{grid-column:span 2}.footer-bottom-primary{text-align:left}.footer-bottom-secondary{display:-ms-flexbox;display:flex;text-align:right;-ms-flex-pack:center;justify-content:center}.footer-bottom-secondary .widget{-ms-flex:1 1 auto;flex:1 1 auto}.footer-bottom-secondary .widget+.widget{margin-top:0;margin-left:1.5rem}.footer-bottom-secondary .widget_media_image{min-width:10rem}}@media screen and (min-width:768px){.has-2-columns.column-1-lg .wp-block-column{width:calc(33.333% - 1.5rem)}.has-2-columns.column-1-lg .wp-block-column:first-child{-ms-flex:2;flex:2;width:calc(66.666% - 1.5rem)}}.btn a,.site-main button,.site-main input[type=button],.site-main input[type=reset],.site-main input[type=submit]{display:inline-block;font-family:Montserrat,sans-serif;font-size:1.6rem;font-weight:700;text-align:center;vertical-align:middle;line-height:1;border-radius:.5rem;padding:1rem 2rem;min-width:15rem;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;color:#444;background-color:#ddd;border:1px solid transparent;transition:color .15s ease-out,background-color .15s ease-out,border-color .15s ease-out}.btn--primary a,.site-main input[type=submit]{color:#fff;background-color:#262261}.btn--primary a:focus,.btn--primary a:hover,.site-main input[type=submit]:focus,.site-main input[type=submit]:hover{color:#262261;background-color:#fff;border-color:#262261}.btn--accent a{color:#fff;background-color:#9bc254}.btn--accent a:focus,.btn--accent a:hover{color:#9bc254;background-color:#fff;border-color:#9bc254}.btn--outline-primary a{color:#262261;background-color:transparent;border-color:#262261}.btn--outline-primary a:focus,.btn--outline-primary a:hover{color:#fff;background-color:#262261}.btn--outline-accent a{color:#9bc254;background-color:transparent;border-color:#9bc254}.btn--outline-accent a:focus,.btn--outline-accent a:hover{color:#fff;background-color:#9bc254}.site-main .front-page{background-repeat:no-repeat;background-size:cover;background-position:top;padding-top:3rem;padding-bottom:3rem;margin-bottom:0}@media (max-width:767px){.site-main .front-page{background-image:none!important}}.front-page .wpcf7-form{background-color:#ededed;padding:2rem}.entry-header h1.entry-title{font-size:4.8rem;text-align:center;margin-top:0}h3{color:#262261;font-size:3rem;margin-top:0}.text-center{text-align:center}.wpcf7-form{margin-left:-1rem;margin-right:-1rem}.wpcf7-form>*{padding-left:1rem;padding-right:1rem;margin-top:0;margin-bottom:1em}.wpcf7-form>.full,.wpcf7-form>.full input[type=text],.wpcf7-form>h1,.wpcf7-form>h2,.wpcf7-form>h3,.wpcf7-form>h4,.wpcf7-form>h5,.wpcf7-form>h6{width:100%}.wpcf7-form select{width:100%;height:3rem}.wpcf7-form>p:last-of-type{width:100%;text-align:center;margin:1rem 0}.wpcf7-form .wpcf7-checkbox,.wpcf7-form .wpcf7-radio{display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;padding-left:1.5rem;font-size:.9em}.wpcf7-form .wpcf7-form-control .wpcf7-list-item{width:47%;margin:0 .5rem .5rem 0}.wpcf7-form .wpcf7-form-control .wpcf7-list-item>label{display:block;position:relative;padding-left:1.5em}.wpcf7-form .wpcf7-form-control .wpcf7-list-item>label>input{position:absolute;left:0;top:3px}.wpcf7-form .list-inline .wpcf7-checkbox,.wpcf7-form .list-inline .wpcf7-radio{display:block}.wpcf7-form .list-inline .wpcf7-form-control .wpcf7-list-item{width:auto;margin-right:1rem}@media screen and (min-width:768px){.wpcf7-form{display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap}.wpcf7-form>*{width:50%}.wpcf7-form>.clear{margin-right:50%}}.infinite-scroll.neverending .site-footer,.infinite-scroll .posts-navigation{display:none}.infinity-end.neverending .site-footer{display:block}.site-notice{color:#fff;background-color:#ad0000;padding:1rem 1.5rem}.site-notice .widget+.widget{margin-top:1rem}.site-notice .widget-title,.site-notice .widget>div{display:inline-block}.site-notice .widget-title:after{content:":"}.site-notice .widget-title,.site-notice p{margin:0;color:#fff;font-family:sans-serif;font-size:14px}@media screen and (min-width:768px){.site-notice .widget-title,.site-notice p{font-size:16px}}.site-top-menu{position:relative;height:38px;padding-left:1.5rem;padding-right:1.5rem;overflow:hidden;background-color:#ddd;font-size:13px;text-transform:uppercase;font-weight:700}.site-top-menu:after{content:"";display:block;position:absolute;right:0;top:0;height:38px;width:58px;background:linear-gradient(90deg,transparent 33%,#ddd 66%)}.site-top-menu .menu{display:-ms-flexbox;display:flex;-ms-flex-direction:row;flex-direction:row;list-style:none;padding:0;margin:0;width:100%;height:58px;overflow-x:scroll}.site-top-menu .menu>li{-ms-flex:0 0 auto;flex:0 0 auto}.site-top-menu .menu>li+li{margin-left:.5rem}.site-top-menu .menu>li>a{color:var(--color-gray);display:block;padding:.5rem .8rem;margin:.5rem 0;text-decoration:none}.site-top-menu .menu>li:last-child>a{background-color:#9bc254}@media screen and (max-width:991px){.site-top-menu .menu>li:last-child{-ms-flex-order:-1;order:-1}}.site-branding{padding:1.5rem}@media screen and (max-width:991px){.site-branding img{max-width:200px}}@media screen and (min-width:992px){.site-branding{text-align:left}.site-top-menu{float:right}.site-top-menu:after{display:none}}.menu-search,.menu-toggle{display:none}@media screen and (max-width:991px){.site-header .search-form{display:none}}@media screen and (min-width:992px){.site-header__row{position:relative}.site-header .search-form{padding:15px;margin-left:auto}.search-form .search-field{border-radius:0;border:1px solid #666;padding:5px}.search-form .search-submit{background-color:#eee;padding:12px 10px;border:1px solid #eee}}.site-header__row{width:100%;display:-ms-flexbox;display:flex;-ms-flex-direction:row;flex-direction:row;-ms-flex-wrap:wrap;flex-wrap:wrap;-ms-flex-pack:justify;justify-content:space-between;-ms-flex-align:center;align-items:center;position:-webkit-sticky;position:sticky;top:0;left:0;right:0}@media screen and (max-width:991px){.site-top-menu{position:relative;z-index:2}.menu-search,.menu-toggle{display:inline-block;border:0;color:var(--color-gray);padding:10px;margin:10px;font-size:20px;border-radius:0;background:transparent}.menu-toggle{font-size:30px}.menu-search{transform:rotate(-90deg)}.site-header__row{box-shadow:0 0 10px #000}.site-branding{-ms-flex-positive:1;flex-grow:1}.primary-menu-container{background:#262261}.main-navigation{position:absolute;margin-left:50px;pointer-events:none;transform:translateX(100%);transition:transform .2s ease-in-out}.main-navigation.toggled-on{pointer-events:inherit;transform:translateX(0)}.main-navigation .menu>li{margin-left:5px;margin-right:5px}.main-navigation .menu>li+li{border-top:1px solid #fff}.main-navigation a{text-transform:uppercase;font-size:16px;padding:15px}}@media screen and (min-width:1200px){.site-branding{margin-top:-28px}}@media screen and (min-width:992px){.primary-menu-container{color:#fff;background:#262261;background:#262261 linear-gradient(#4841b9,#262261)}}