/*!
Theme Name: WP Rig
Theme URI: https://github.com/wprig/wprig/
Author: Morten Rand-Hendriksen et.al.
Author URI: https://github.com/wprig/wprig/
Description: A progressive theme development rig for WordPress.
Version: 1.0.4
License: GNU General Public License v3 or later
License URI: LICENSE
Text Domain: wprig
Tags: translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

CSS normalization based in part on normalize.css by
Nicolas Gallagher and Jonathan Neal http://necolas.github.io/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Accessibility
# Layout
# Typography
# Elements
# Links
# Forms
# Header
  # Main navigation menu
# Content navigation
# Footer
# Infinite scroll
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

 html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
	margin: 0;
}

link {
	display: none;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
	box-sizing: content-box; /* 1 */
	height: 0; /* 1 */
	overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
	font-family: monospace, monospace; /* 1 */
	font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
	background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
	border-bottom: none; /* 1 */
	text-decoration: underline; /* 2 */
	text-decoration: underline dotted; /* 2 */  /* phpcs:ignore */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
	font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
	font-family: monospace, monospace; /* 1 */
	font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
	font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
	border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
	font-family: inherit; /* 1 */
	font-size: 100%; /* 1 */
	line-height: 1.15; /* 1 */
	margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
	overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
	text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
	padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
	box-sizing: border-box; /* 1 */
	color: inherit; /* 2 */
	display: table; /* 1 */
	max-width: 100%; /* 1 */
	padding: 0; /* 3 */
	white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
	vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
	overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
	box-sizing: border-box; /* 1 */
	padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
	-webkit-appearance: textfield; /* 1 */
	outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
	-webkit-appearance: button; /* 1 */
	font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
	display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
	display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
	display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
	display: none;
}

/**
 * Hide lazy load placeholders when browser does not have JS enabled.
 * Should override everything, therefore !important.
 */
.no-js .lazy {
	display: none!important;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	word-wrap: normal !important;
	/* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
	/* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#primary[tabindex="-1"]:focus {
	outline: 0;
}

/*--------------------------------------------------------------
# Layouts
--------------------------------------------------------------*/
html {
	font-size: var(--root-font-size);
}

.site {
  margin: 0 auto;
  max-width: 100%;
}

@media (--sidebar-query) {
	.has-sidebar .site {
		margin: 0 1em;
		display: grid;
		grid-template-columns: 3fr 1fr;
		grid-gap: 2rem;
		justify-content: center;
	}

	.site-header {
		grid-column: span 2;
	}

	.site-main {
		grid-column: 1;
		min-width: 0;
	}

	.primary-sidebar {
		grid-column: 2;
		min-width: 0;
	}

	.site-footer {
		grid-column: span 2;
	}
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
optgroup,
textarea {
	color: var(--global-font-color);
	font-family: var(--global-font-family);
	font-size: var(--global-font-size);
	line-height: var(--global-font-line-height);
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--highlight-font-family);
	color: #32373c;
	clear: both;
}

.entry-header h1.entry-title {
	text-align: center;
	font-size: 6rem;
	line-height: 1.4;
	margin: 1em 0;
	color: var(--color-primary);
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code, kbd, tt, var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 12.8px;
	font-size: .8em;
}

abbr, acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark, ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	/* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: #fff;
	/* Fallback for when there is no custom background color defined. */ }

blockquote, q {
	quotes: "" "";
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul, ol {
	margin: 0 0 1.5em 3em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	display: block;
	height: auto;
	max-width: 100%;
}

figure {
	/* Extra wide images within figure tags don't overflow the content area. */
	margin: .5em 0;
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

/*--------------------------------------------------------------
# Links
--------------------------------------------------------------*/
a {
	color: var(--color-primary);
}

a:visited {
	color: #333;
}

a:hover, a:focus, a:active {
	color: var(--color-primary);
}

a:focus {
	outline: thin dotted;
}

a:hover, a:active {
	outline: 0;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: #ccc #ccc #bbb;
	border-radius: 3px;
	background: #e6e6e6;
	color: rgba(0, 0, 0, 0.8);
	font-size: 0.75rem;
	line-height: 1;
	padding: .6em 1em .4em;
	cursor: pointer;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	border-color: #ccc #bbb #aaa;
}

button:active, button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
	border-color: #aaa #bbb #bbb;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 3px;
	max-width: 100%;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	color: #111;
}

select {
	border: 1px solid #ccc;
}

textarea {
	width: 100%;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

.header-image {
	margin: 0 auto;
}

.header-image img {
	display: block;
	margin: 0 auto;
}

.custom-logo-link {
	display: inline-block;
}

.site-title {
	margin: 0 1em;
	font-family: var(--highlight-font-family);
	font-size: 38px;
	font-weight: bold;
	line-height: 1.2;
	color: #333332;
}

.site-title a {
	text-decoration: none;
	color: inherit;
}

.site-description {
	margin: .4375em 0 0;
	font-family: var(--highlight-font-family);
	font-size: 17px;
	font-weight: inherit;
	line-height: 1.4;
	word-wrap: break-word;
	color: #757575;
}

/*--------------------------------------------------------------
## Main navigation menu
--------------------------------------------------------------*/
.main-navigation a {
	display: block;
	padding: .5em 1em;
	text-decoration: none;
	color: #fff;
	background: var(--color-primary);
}

@media (--wide-menu-query) {
	.main-navigation a {
		background: var(--color-primary) linear-gradient(#4841b9, var(--color-primary));
	}
	.main-navigation .menu > li > a:hover,
	.main-navigation .menu > li > a:focus {
		background: var(--color-primary) linear-gradient(#4841b9, #4841b9);
	}

	.main-navigation ul ul li a {
		text-align: left;
		color: var(--color-primary);
	}
	.main-navigation ul ul li a:hover,
	.main-navigation ul ul li a:focus {
		color: #4841b9;
	}
}

.main-navigation ul {
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
}

.main-navigation li {
	position: relative;
}

.main-navigation ul ul li {
	padding-left: 1em;
}

.main-navigation .dropdown,
.main-navigation button.dropdown-toggle {
	display: none;
}

.main-navigation .menu {
	display: none;
}

@media (--narrow-menu-query) {
	.main-navigation.toggled-on .menu {
		display: block;
	}
}

@media (--wide-menu-query) {
	.main-navigation ul li a {
		padding: 2rem 1.5rem;
	}

	.main-navigation ul li + li {
		border-left: 1px solid #fff;
	}
	.main-navigation ul li:first-child {
		margin-left: 0;
	}

	.main-navigation ul ul {
		display: none;
		position: absolute;
		top: 100%;
		flex-direction: column;
		background: white;
		margin-left: 0;
		box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
		z-index: 1;
	}

	.main-navigation ul ul a {
		width: 200px;
	}

	.main-navigation ul ul li {
		padding-left: 0;
		margin-left: 0;
	}

	.main-navigation ul ul li a {
		width: 218px;
		background: none;
	}

	.main-navigation ul ul ul {
		top: 0;
		left: 100%;
		min-height: 100%;
	}

	.main-navigation .menu {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	.main-navigation .menu li {
		flex-grow: 1;
		text-align: center;
	}

	/*
	 * If the dropdown toggle is active with JS, then
	 * we'll take care of showing the submenu with JS.
	 *
	 * "focus-within" is an alternative to focus class for
	 * supporting browsers (all but IE/Edge) for no-JS context
	 * (e.g. AMP) See https://caniuse.com/#feat=css-focus-within
	 */
	.main-navigation li:hover > ul,
	.main-navigation li.toggled-on > ul,
	.main-navigation:not(.has-dropdown-toggle) li:focus > ul,
	.main-navigation:not(.has-dropdown-toggle) li:focus-within > ul {
		display: block;
	}
}

.main-navigation .dropdown,
.main-navigation button.dropdown-toggle {
	display: block;
	position: absolute;
	top: 20px;
	right: 15px;
	background: transparent;
	width: var(--dropdown-symbol-width);
	height: var(--dropdown-symbol-width);
	font-size: inherit;
	line-height: inherit;
	margin: 0;
	padding: 0;
	border: none;
	border-radius: 0;
	overflow: visible;
}

.main-navigation .dropdown-symbol {
	display: block;
	background: transparent;
	right: 15px;
	top: 25px;
	width: 10px;
	height: 10px;
	border: solid #fff;
	border-width: 0 2px 2px 0;
	transform: translateY(-50%) rotate(45deg);
}

.main-navigation ul ul .dropdown-symbol {
	border-color: var(--color-primary);
}

.main-navigation ul ul .dropdown,
.main-navigation ul ul button.dropdown-toggle {
	top: 40%;
}

.main-navigation ul ul .dropdown-symbol {
	transform: rotate(-45deg);
}

/*--------------------------------------------------------------
# Content navigation
--------------------------------------------------------------*/
.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
	border-bottom: 1px solid #111;
	margin: 0 auto 2em;
	max-width: 720px;
	overflow: hidden;
	padding-bottom: 2em;
	font-family: var(--highlight-font-family);
}

.nav-links {
	display: flex;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	width: 50%;
	flex: 1 0 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	text-align: end;
	flex: 1 0 50%;
}

.post-navigation-sub span {
	color: var(--global-font-color);
	text-decoration: none;
	display: inline-block;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.site-footer {
	margin: 0;
	padding: 2em 0;
	color: #fff;
	background-color: var(--color-gray-dark);
}

.site-footer h1,
.site-footer h2,
.site-footer h3,
.site-footer h4,
.site-footer h5,
.site-footer h6 {
	color: #fff;
}

.site-info {
	text-align: center;
	font-size: 1.4rem;
}

.site-info .widget + .widget {
	margin-top: 1.5rem;
}

.site-info .widget_media_image img {
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
}

@media (--wide-menu-query) {
	.site-info .widget_media_image img {
		margin-left: 0;
	}
}

.footer-top {
	padding-bottom: 3rem;
	border-bottom: 1px solid #fff;
}

.footer-top .menu,
.footer-top .menu li ul,
.footer-top .menu li ul li ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.footer-top .menu a {
	display: block;
	padding: .5rem 1.5rem;
	color: #fff;
	text-decoration: none;
}

@media (--wide-menu-query) {
	.footer-top .menu a {
		display: inline-block;
		padding: 0 1.5rem;
	}

	.footer-top .menu li,
	.footer-top .menu li ul {
		display: inline-block;
	}

	.footer-top .menu li + li,
	.footer-top .menu li .sub-menu {
		border-left: 1px solid #fff;
	}
}

.footer-bottom-primary,
.footer-bottom-secondary {
	margin-top: 3rem;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}

@media (--wide-menu-query) {
	.site-info {
		display: grid;
		grid-template-columns: 2fr 1fr;
	}

	.footer-top {
		grid-column: span 2;
	}

	.footer-bottom-primary {
		text-align: left;
	}

	.footer-bottom-secondary {
		display: flex;
		text-align: right;
		justify-content: center;
	}

	.footer-bottom-secondary .widget {
		flex: 1 1 auto;
	}
	.footer-bottom-secondary .widget + .widget {
		margin-top: 0;
		margin-left: 1.5rem;
	}
	.footer-bottom-secondary .widget_media_image {
		min-width: 10rem;
	}
}

/*--------------------------------------------------------------
# Buttons
--------------------------------------------------------------*/

@media screen and (min-width: 768px) {
	.has-2-columns.column-1-lg .wp-block-column {
		width: calc(33.333% - 1.5rem);
	}
	.has-2-columns.column-1-lg .wp-block-column:first-child {
		flex: 2;
		width: calc(66.666% - 1.5rem);
	}
}


.btn a,
.site-main button,
.site-main input[type="button"],
.site-main input[type="reset"],
.site-main input[type="submit"] {
	display: inline-block;
	font-family: var(--global-font-family);
	font-size: var(--global-font-size);
	font-weight: 700;
	text-align: center;
	vertical-align: middle;
	line-height: 1;
	border-radius: .5rem;
	padding: 1rem 2rem;
	min-width: 15rem;
	user-select: none;
	color: var(--color-gray-dark);
	background-color: var(--color-gray-light);
	border: 1px solid transparent;
	transition:
		color .15s ease-out,
		background-color .15s ease-out,
		border-color .15s ease-out;
}

.btn--primary a,
.site-main input[type="submit"] {
	color: #fff;
	background-color: var(--color-primary);
}
.btn--primary a:hover,
.btn--primary a:focus,
.site-main input[type="submit"]:hover,
.site-main input[type="submit"]:focus {
	color: var(--color-primary);
	background-color: #fff;
	border-color: var(--color-primary);
}

.btn--accent a {
	color: #fff;
	background-color: var(--color-accent);
}
.btn--accent a:hover,
.btn--accent a:focus {
	color: var(--color-accent);
	background-color: #fff;
	border-color: var(--color-accent);
}

.btn--outline-primary a {
	color: var(--color-primary);
	background-color: transparent;
	border-color: var(--color-primary);
}
.btn--outline-primary a:hover,
.btn--outline-primary a:focus {
	color: #fff;
	background-color: var(--color-primary);
}

.btn--outline-accent a {
	color: var(--color-accent);
	background-color: transparent;
	border-color: var(--color-accent);
}
.btn--outline-accent a:hover,
.btn--outline-accent a:focus {
	color: #fff;
	background-color: var(--color-accent);
}

/* Front page */

.site-main .front-page {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
	padding-top: 3rem;
	padding-bottom: 3rem;
	margin-bottom: 0;
}

@media (max-width: 767px) {
	.site-main .front-page {
		background-image: none !important;
	}
}

.front-page .wpcf7-form {
	background-color: #ededed;
	padding: 2rem;
}

/* Contact forms */

.entry-header h1.entry-title {
	font-size: 4.8rem;
	text-align: center;
	margin-top: 0;
}

h3 {
	color: var(--color-primary);
	font-size: 3rem;
	margin-top: 0;
}

.text-center {
	text-align: center;
}

.wpcf7-form {
    margin-left: -1rem;
    margin-right: -1rem;
}
.wpcf7-form > * {
    padding-left: 1rem;
	padding-right: 1rem;
	margin-top: 0;
	margin-bottom: 1em;
}
.wpcf7-form > .full,
.wpcf7-form > h1,
.wpcf7-form > h2,
.wpcf7-form > h3,
.wpcf7-form > h4,
.wpcf7-form > h5,
.wpcf7-form > h6 {
    width: 100%;
}

.wpcf7-form > .full input[type="text"] {
	width: 100%;
}

.wpcf7-form select {
	width: 100%;
	height: 3rem;
}

.wpcf7-form > p:last-of-type {
	width: 100%;
	text-align: center;
	margin: 1rem 0;
}

.wpcf7-form .wpcf7-checkbox,
.wpcf7-form .wpcf7-radio {
	display: flex;
	flex-wrap: wrap;
	padding-left: 1.5rem;
	font-size: .9em;
}
.wpcf7-form .wpcf7-form-control .wpcf7-list-item {
	width: 47%;
    margin: 0 .5rem .5rem 0;
}
.wpcf7-form .wpcf7-form-control .wpcf7-list-item > label {
	display: block;
	position: relative;
	padding-left: 1.5em;
}
.wpcf7-form .wpcf7-form-control .wpcf7-list-item > label > input {
	position: absolute;
	left: 0;
	top: 3px;
}

.wpcf7-form .list-inline .wpcf7-checkbox,
.wpcf7-form .list-inline .wpcf7-radio {
	display: block;
}
.wpcf7-form .list-inline .wpcf7-form-control .wpcf7-list-item {
	width: auto;
	margin-right: 1rem;
}
/* .wpcf7-form .list-inline .wpcf7-form-control .wpcf7-list-item + .wpcf7-list-item {

} */

@media (--content-query) {
	.wpcf7-form {
		display: flex;
		flex-wrap: wrap;
	}

	.wpcf7-form > * {
		width: 50%;
	}

	.wpcf7-form > .clear {
		margin-right: 50%;
	}
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
	/* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

.site-notice {
	color: #fff;
	background-color: var(--color-warning);
	padding: 1rem 1.5rem;
}

.site-notice .widget + .widget {
	margin-top: 1rem;
}

.site-notice .widget-title,
.site-notice .widget > div {
	display: inline-block;
}

.site-notice .widget-title::after {
	content: ":";
}

.site-notice .widget-title,
.site-notice p {
	margin: 0;
	color: #fff;
	font-family: sans-serif;
	font-size: 14px;
}

@media (--content-query) {
	.site-notice .widget-title,
	.site-notice p {
		font-size: 16px;
	}
}

.site-top-menu {
	position: relative;
	height: 38px;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	overflow: hidden;
	background-color: var(--color-gray-light);
	font-size: 13px;
	text-transform: uppercase;
	font-weight: 700;
}
.site-top-menu::after {
	content: "";
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	height: 38px;
	width: 58px;
	background: linear-gradient(to right, transparent 33%, var(--color-gray-light) 66%);
}

.site-top-menu .menu {
	display: flex;
	flex-direction: row;
	list-style: none;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 58px;
	overflow-x: scroll;
}

.site-top-menu .menu > li {
	flex: 0 0 auto;
}

.site-top-menu .menu > li + li {
	margin-left: .5rem;
}

.site-top-menu .menu > li > a {
	color: var(--color-gray);
	display: block;
	padding: .5rem .8rem;
	margin: .5rem 0;
	text-decoration: none;
}

.site-top-menu .menu > li:last-child > a {
	background-color: var(--color-success);
}

@media (--narrow-menu-query) {
	.site-top-menu .menu > li:last-child {
		order: -1;
	}
}

.site-branding {
	padding: 1.5rem;
}

@media (--narrow-menu-query) {
	.site-branding img {
		max-width: 200px;
	}
}

@media (--wide-menu-query) {
	.site-branding {
		text-align: left;
	}

	.site-top-menu {
		float: right;
	}

	.site-top-menu:after {
		display: none;
	}
}

.menu-search,
.menu-toggle {
	display: none;
}

@media (--narrow-menu-query) {
	.site-header .search-form {
		display: none;
	}
}

@media (--wide-menu-query) {
	.site-header__row {
		position: relative;
	}

	.site-header .search-form {
		padding: 15px;
		margin-left: auto;
	}

	.search-form .search-field {
		border-radius: 0;
		border: 1px solid #666;
		padding: 5px;
	}

	.search-form .search-submit {
		background-color: #eee;
		padding: 12px 10px;
		border: 1px solid #eee;
	}
}

.site-header__row {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
}

@media (--narrow-menu-query) {
	.site-top-menu {
		position: relative;
		z-index: 10;
	}
	.menu-search,
	.menu-toggle {
		display: inline-block;
		border: 0;
		color: var(--color-gray);
		padding: 10px;
		margin: 10px;
		font-size: 20px;
		border-radius: 0;
		background: transparent;
	}

	.menu-toggle {
		font-size: 30px;
	}

	.menu-search {
		transform: rotate(-90deg);
	}

	.site-header__row {
		box-shadow: 0 0 10px #000;
	}

	.site-branding {
		flex-grow: 1;
	}

	.primary-menu-container {
		background: #262261;
	}

	.main-navigation {
		position: absolute;
		margin-left: 50px;
		pointer-events: none;
		transform: translateX(100%);
		transition: .2s transform ease-in-out;
	}
	.main-navigation.toggled-on {
		pointer-events: inherit;
		transform: translateX(0);
	}

	.main-navigation .menu > li {
		margin-left: 5px;
		margin-right: 5px;
	}

	.main-navigation .menu > li + li {
		border-top: 1px solid #fff;
	}

	.main-navigation a {
		text-transform: uppercase;
		font-size: 16px;
		padding: 15px;
	}
}

@media screen and (min-width: 1200px) {
	.site-branding {
		margin-top: -28px;
	}
}

@media (--wide-menu-query) {
	.primary-menu-container {
		color: #fff;
		background: var(--color-primary);
		background: var(--color-primary) linear-gradient(#4841b9, var(--color-primary));
	}
}
