.icon {
	display: block;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width: 30px;
	height: 30px;
}

.icon--excellence {
	background-image: url('images/icons/excellence.svg');
}
